* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .abona {
  background-color: #630000;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 10px;
}
header nav {
  width: 97%;
  margin: auto;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  align-items: center;
}
header nav div input {
  border-radius: 30px;
  padding: 0 20px;
  font-size: 15px;
  outline: none;
  border: 1px solid silver;
}
header nav div .logoCerveza {
  max-width: 200px;
  margin-left: 150px;
  vertical-align: bottom;
}
header nav div {
  display: flex;
}
header nav div .crearcuenta {
  margin-left: 100px;
  margin-bottom: 80px;
  margin-right: 10px;
  margin-top: 9px;
}
header nav div .carritoCompras {
  width: 40px;
  margin-left: 2px;
  margin-bottom: 80px;
  transition: all 0.3s;
}
header .contenedora {
  text-align: center;
  width: 100%;
}
header .contenedora .barraDeNavegacion {
  background-color: rgb(0, 0, 0);
  padding: 25px;
  display: flex;
  width: 100%;
  justify-content: center;
}
header .contenedora .barraDeNavegacion a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  padding: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
header .contenedora .barraDeNavegacion a:hover {
  color: #df8816;
}

main .trioImg {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
main .servicios {
  display: flex;
  justify-content: space-around;
  width: 97%;
  margin-top: 150px;
  margin-bottom: 100px;
  padding: 25px;
  font-size: 22px;
}
main .bannerUbicacion {
  display: flex;
}
main div .icono img {
  display: flex;
  flex-direction: row;
  width: 50px;
  margin-top: 5px;
  margin-right: 5px;
}
main div .margen {
  border-style: solid;
  border-left: none;
  border-bottom: none;
  border-top: none;
}

footer {
  background-color: #630000;
  padding: 10px;
  text-align: center;
}

main .barraSubtitulo {
  background-color: #630000;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  padding: 15px;
}
main .nosotrosPage a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
main .nosotrosPage a:hover {
  color: #df8816;
}
main .sectionInsumos {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 150px;
}
main .sectionInsumos .insumos img {
  width: 100%;
  border: 3px solid black;
}
main .sectionInsumos .insumos img:hover {
  transform: scale(1.05);
  transition: transform 200ms;
}
main .descripcionImg {
  font-size: 30px;
  justify-content: center;
  text-align: center;
  margin-right: 20px;
}
main .descripcionImg:hover {
  transform: scale(1.05);
  transition: transform 200ms;
}

main div.tituloAsesoramiento {
  margin-left: 100px;
  margin-top: 30px;
  font-size: 25px;
}
main section.mainContacto {
  display: flex;
  margin-top: 80px;
  margin-right: 100px;
  margin-bottom: 180px;
  margin-left: 25px;
  font-size: 25px;
  justify-content: space-around;
}
main section.mainContacto section.interlineado {
  line-height: 60px;
}
main section.mainContacto section.interlineado div.iconosSociales {
  display: flex;
  margin-right: 100px;
}
main section.mainContacto section.interlineado div.iconosSociales .iconoContacto {
  width: 20px;
  margin-top: 7px;
  margin-right: 15px;
}
main section.mainContacto section.interlineado div.iconosSociales .iconoContacto:hover {
  transform: scale(1.2);
  transition: transform 200ms;
}
main section.mainContacto iframe.mapa {
  margin-right: 50px;
  margin-left: 10px;
  display: flex;
  width: 500px;
}

div.textoNstros .textoNosotros {
  text-align: center;
  margin-top: 50px;
  margin-right: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  font-size: 20px;
  text-justify: distribute;
}

.buscadorEstiloDos input {
  display: none;
  border-radius: 30px;
  padding: 0 20px;
  font-size: 15px;
  outline: none;
  border: 1px solid silver;
}

@media (max-width: 1008px) {
  header ul {
    gap: 20px;
    text-align: center;
    flex-direction: column;
  }
  header li {
    padding: 20px;
  }
  header .logoCerveza {
    width: 175px;
  }
}
@media (max-width: 935px) {
  header section.buscador {
    display: none;
  }
  header div.fondoBuscadorDos {
    padding: 10px;
  }
  header div.buscadorEstiloDos input {
    display: block;
    padding: 10px;
    height: 10px;
  }
  header .crearCuenta {
    font-size: 12px;
    margin-block-end: 20px;
  }
  main nav.sectionInsumos {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 30px;
  }
  main nav.sectionInsumos .insumos img {
    width: 100%;
    justify-content: center;
  }
  .tituloAsesoramiento {
    justify-content: center;
  }
}
@media (max-witdh: 675px) {
  .crearCuenta {
    font-size: 12px;
    justify-content: space-around;
    margin-right: 40px;
  }
  .carritoCompras {
    width: 15px;
  }
  .carritoIniciar {
    position: relative;
    margin-left: 20px;
    right: 20px;
  }
}
@media (max-width: 640px) {
  header section.buscador {
    display: none;
  }
  header div.fondoBuscadorDos {
    padding: 10px;
  }
  header div.buscadorEstiloDos input {
    display: block;
    padding: 10px;
    height: 10px;
  }
  header .crearCuenta {
    font-size: 10px;
  }
  header .carritoCompras img {
    width: 10px;
  }
  header .logoCerveza {
    width: 120px;
    position: relative;
    right: 140px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 520px) {
  header section.buscador {
    display: none;
  }
  header div.fondoBuscadorDos {
    padding: 10px;
  }
  header div.buscadorEstiloDos input {
    display: block;
    padding: 10px;
    height: 10px;
  }
  header .crearCuenta {
    font-size: 10px;
  }
  header .carritoIniciar {
    position: relative;
    display: flex;
    right: 90px;
    width: 100%;
  }
  .textoNosotros {
    text-align: center;
    margin-top: 35px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    font-size: 18px;
    text-justify: distribute;
  }
}

/*# sourceMappingURL=style.css.map */
