@media (max-width:640px){
    header{
        section.buscador{
            display: none;
        }
        div.fondoBuscadorDos{
            padding: 10px;
        }
            div.buscadorEstiloDos input{
                display: block;
                padding: 10px;
                height: 10px;
            }
            .crearCuenta{ 
                font-size: 10px;
                    
            }
            .carritoCompras img{
                width: 10px;
            }
            
            
            .logoCerveza{
                width: 120px;
                position: relative;
                right: 140px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
            }
    }

}