@media (max-width:1008px){
    header{
        ul{
            gap: 20px;
            text-align: center;
            flex-direction: column;
        }
        li{
            padding: 20px;
        }
        .logoCerveza{
            width: 175px;
        }
    }
    main{
        section.trioImg{
            display: flex;
            width: 400px;
            margin-top: 0px;
            margin-bottom: 10px;
            align-items: center;
            justify-content: center;
            width: 100%;
            div.fotoUno img{
                width: 300px;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
            div.fotoDos img{
                align-items: center;
                justify-content: center;
                width: 300px;
                width: 100%;
            }
        }
    }
}
