@media (max-width:520px){
    header{
        section.buscador{
            display: none;
        }
        div.fondoBuscadorDos{
            padding: 10px;
        }
            div.buscadorEstiloDos input{
                display: block;
                padding: 10px;
                height: 10px;
            }
            .crearCuenta { 
                font-size: 10px;
                margin-left: 1px;
                display: none;
                    
            }
            .carritoIniciar{
                position: relative;
                display: flex;
                justify-content: flex-end;
                top: 20px;
                right: 30px;
                width: 100%;
                .carritoCompras img{
                    text-align: end;
                    width: 50px;
                }
            }
        }
    .textoNosotros{
        text-align: center;
        margin-top: 35px;
        margin-right: 50px;
        margin-bottom: 50px;
        margin-left: 50px;
        font-size: 18px;
        text-justify: distribute;
    }
    main{
        nav.sectionInsumos{
            width: 100%;
            justify-content: space-around;
            align-items: center;
            padding: 20px;
            gap: 30px;
            .insumos img{
                width: 250px;
                justify-content: center;
                .descripcionImg{
                    font-size: 15px;
                    justify-content: center;
                    text-align: center;
                    margin-right: 10px;
                }
            }
        }
    }
    main{
        div.tituloAsesoramiento{
            margin-left: 30px;
            margin-top: 20px;
            font-size: 18px;
        }
        section.mainContacto{
            display: flex;
            margin-top: 60px;
            margin-right: 80px;
            margin-bottom: 160px;
            margin-left: 20px;
            font-size: 20px;
            justify-content: space-around;
            section.interlineado{
                line-height: 30px;
                div.iconosSociales{
                    display: flex;
                    margin-right: 40px;
                    .iconoContacto{
                        width: 15px;
                        margin-top: 5px;
                        margin-right: 11px;
                    }
                }
            }
        iframe.mapa{
            margin-right: 50px;
            margin-top: 30px;
            margin-left: 10px;
            width: 250px;
        }    
        }
        
    }
}