@media (max-width:935px){
    header{
            section.buscador{
                display: none;
            }
            div.fondoBuscadorDos{
                padding: 10px;
            }
                div.buscadorEstiloDos input{
                    display: block;
                    padding: 10px;
                    height: 10px;
                }
                .crearCuenta{ 
                    font-size: 12px;
                    margin-block-end: 20px;    
                }
        }
    main{
        nav.sectionInsumos{
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            padding: 20px;
            gap: 30px;
            .insumos img{
                width: 100%;
                justify-content: center;
            }
        }
    }



    main{
        div.tituloAsesoramiento{
            margin-left: 70px;
            margin-top: 25px;
            font-size: 20px;
        }
        section.mainContacto{
            display: flex;
            margin-top: 60px;
            margin-right: 80px;
            margin-bottom: 160px;
            margin-left: 20px;
            font-size: 20px;
            justify-content: space-around;
            section.interlineado{
                line-height: 60px;
                div.iconosSociales{
                    display: flex;
                    margin-right: 80px;
                    .iconoContacto{
                        width: 18px;
                        margin-top: 6px;
                        margin-right: 13px;
                    }
                }
            }
        iframe.mapa{
            margin-right: 50px;
            margin-left: 10px;
            width: 350px;
        }    
        }
        
    }
}
