@media (max-witdh:675px){
    .crearCuenta{
        font-size: 12px;
        justify-content: space-around;
        margin-right: 40px;
    }
    .carritoCompras{
        width: 15px;
    }
    .carritoIniciar{
        position: relative;
        margin-left: 20px;
        right: 20px;
    }
}